<!-- toDo Could you optimise this piece of code? -->


<!-- toDo Could you optimise this piece of code? -->
<div class="breadcrumbs">
  <a routerLink="/"><span>Collections</span></a>
  <span>></span>
  <a class="active"><span>Collection</span></a>
</div>

<div class="layout-container">
  <!-- toDo Could you optimise this piece of code? -->
  @if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

  <div class="gallery">
    <!-- toDO Could you improve the styling to be responsive? -->
       @for (photo of photos(); track photo.id) {
      <mat-card class="gallery-item thumbnails" (click)="handleGotoPhoto(photo)">
        <img mat-card-image [src]="photo.urls.small" [alt]="photo.alt_description" class="img-dimensions" />
        <mat-card-content fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
          <p>
            <mat-icon inline>favorite</mat-icon>
            {{ photo.likes }} {{ 'LIKES' |  translate}}
          </p>
        </mat-card-content>
      </mat-card>
  }
  </div>
</div>
