<!-- toDo Could you optimise this piece of code? -->
<!-- create a stand alone toolbar component and call it from app.html -->

<!-- toDo Could you optimise this piece of code? -->
<div class="breadcrumbs">
  <a class="active"><span>Collections</span></a>
</div>

<div class="layout-container">
  <!-- toDo Could you optimise this piece of code? -->
  @if (isLoading()) {
  <mat-progress-bar></mat-progress-bar>
  }

  <div class="gallery">
    <!-- toDo Is there another way to rewrite this with new Angular 17 features? -->
    <!-- toDO Could you improve the styling to be responsive? -->

    @for (collection of collections$ | async; track collection.id) {
    <mat-card class="gallery-item thumbnails" [routerLink]="'/collection/' + collection.id">
      <img mat-card-image [src]="collection.cover_photo.urls.small" [alt]="collection.cover_photo.description" class="img-dimensions" />
      <mat-card-content>
        <p class="title">{{ collection.title }}</p>
      </mat-card-content>
    </mat-card>
    }@empty {
    <p class="empty-state">No collections available.</p>
    } 

  </div>

    <mat-paginator
    [length]="estimatedTotalCollections"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 15, 30]"
    (page)="onPageChange($event)"
  ></mat-paginator>


</div>
