<!-- toDo Could you optimise this piece of code? -->


<!-- toDo Could you optimise this piece of code? -->
<div class="breadcrumbs">
  <a routerLink="/"><span>Collections</span></a>
  <span>></span>
  <a (click)="handleGotoCollection()"><span>Collection</span></a>
  <span>></span>
  <a class="active"><span>Photo</span></a>
</div>

<div class="layout-container">
  <!-- toDo Could you optimise this piece of code? -->
@if (isLoading()) {
  <mat-progress-bar></mat-progress-bar>
}

  <div class="gallery" fxLayout.sm="column"  fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="24px">
    <!-- toDO Could you improve the styling to be responsive? -->

    <mat-card *ngIf="photo() as photo" class="preview"  fxFlex="100" fxFlex.gt-sm="80" fxFlex.gt-md="60">
      <!-- toDO Why is throwing some console errors? -->

      <mat-card-header *ngIf="photo.user">
        <img mat-card-avatar [src]="photo.user.profile_image.medium" />
        <mat-card-title>{{ photo.user.first_name }} {{ photo.user.last_name }}</mat-card-title>
        <mat-card-subtitle *ngIf="photo.user.location">
          <mat-icon inline>where_to_vote</mat-icon>
          {{ photo.user.location }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div>
          <div>
            <!-- toDO Is there another way to do this operation? -->
            <p>{{ photo.description | capitalize }}</p>
          </div>
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end">
            <p fxLayoutAlign="center">
              <mat-icon inline>favorite</mat-icon>
              {{ photo.likes }} likes &nbsp;|&nbsp;&nbsp;
              <mat-icon inline>visibility</mat-icon>
              {{ photo.views }} views
            </p>
          </div>
        </div>
      </mat-card-content>

      <img mat-card-image [src]="photo.urls?.full" [alt]="photo.alt_description" />
    </mat-card>
    
  </div>
</div>
